<!doctype html>
<html>
<head>
 <% include partials/_src %>
  <% function getRandomArbitrary(min, max) {
        return Math.floor(Math.random() * (max - min) + min);
      }
      let randMap = getRandomArbitrary(0, map_db.length)
      %>

</head>
<body>
 <% include partials/_header %>
  <div class="body row">
    <div class="map_container col-9">
<!--  <% let map_id = "map_1" %> -->
      <h3 class="page" data-page="<%= page %>"> <%= page %> </h3>
       <div class="controls">
        <div class="fav">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <p>FAVE</p>
        </div>
        <h1 class="map_title" > <%= map_db[randMap].title   %> </h1>
        <div class="addPoint">
          <i class="fa fa-plus" aria-hidden="true"></i>
          POINT
        </div>
      </div>
      <div class="gmaps">


      <div id="map" data-map_id="<%= map_db[randMap].id  %>" height="350px" width="100%"></div>

      <h3 class="map_description"> <%= map_db[randMap].description %> </h3>


    <div class="form pointDescriptions col-7 offset-1">
      <form action="/<% map_id %> /point" method="POST" class="pointForm">
        <h1> New Point </h1>
        Title
        <input type="title" name="title" placeholder="Sunbathing in the park">
        <br>
        <div class="form-group">
          <label for="exampleTextarea">Description</label>
          <textarea class="form-control" type="description" name="description" rows="2"></textarea>
        </div>
        Header Image (url)
        <input type="img_url" name="img_url"><br>
        <button type="submit"class="btn btn-info btn-block">SUBMIT</button>
      </form>
    </div>
  </div>
    <div id="point_container">
    </div>

  </div>

  <div class="list_container col-3">
    <div class="row">
      <div class="col divider my_maps"><a href="/profile">My Maps</a></div>
      <div class="col divider"><a href="/favourites">My Faves</a></div>
      <article class="list_item new_map" id="new_map">
        NEW  <br> MAP
        <i class="fa fa-map-o fa-5x" aria-hidden="true"></i>
      </article>
    </div>
    <div class="row" id="every_item_container map_information_container">
     <script type="text/javascript" src="/scripts/googlemap.js"></script>
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=<%= gMapsApi %>&callback=initMap">
   </script>
 </div>
</div>
</div>
</div>
</body>
</html>